node_modules/
.pnp
.pnp.js
.next/
out/
dist/
build/
*.tsbuildinfo
coverage/
.env
.env.local
.env.*.local
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
npm-debug.log*
.eslintcache
.parcel-cache
.cache/
package-lock.json
yarn.lock
pnpm-lock.yaml
